.my-carousel-progress {
  background: #ccc;
}

.my-carousel-progress-bar {
  background: red;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
